*{
    margin: 0;
    padding:0 ;
    border: 0;
}

body{
    background-image: url(../Imagens/guitarra_fundo_body.jpg);
    background-size: cover;      /* cobre todo o espaço */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat;
    height: 50vh;                /* metade da tela */

}

main{
  position: relative;
  height: 1800px;
  width: 95%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  background-color: rgb(240, 111, 83, 0.70);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header{
    width: 100%;
    height: 200px;
    gap: 5px;
    display: flex;
    background-image: url(../Imagens/guitarras_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: flex-end;
}


nav{
    height: 40px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 90px;
    padding: 0 20px;
    margin-right: 40px; /* <-- adiciona espaço à direita */ 
}
a{
    color: brown;
    text-decoration: none;
    display: flex;
    position: relative;
}
@media (max-width: 768px) {

    header {
        width: 100%;
        height: 220px;
        justify-content: center; /* centraliza o nav */
        padding: 5px 0;
    }

    nav {
        flex-direction: column; /* empilha os links */
        height: auto;
        width: 90%;
        margin-top: 20px;
        margin-right: 0;
        gap: 10px;
        padding: 5px;
    }

    a {
        font-size: 15px;
    }
}






.bloco_rosa{
    width: 100%;
    height: 1320px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;

}

.dois{
    width: 100%;
    height: 330px;
    background-color: rgb(157, 7, 7);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.caixa1{
    height: 250px;
    width: 620px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
}
h2,p{
    color: white;
    position: relative;
    
}
#im2{
    width: 620px;
    height: 280px;
   
}
@media (max-width: 768px) {
    .dois{
        flex-direction: column; 
        height: auto; 
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        
    }
    .caixa1{
        width: 90%; 
        max-width: 90%;
        height: 150px; 
    }

    #im2{
        width: 90%;
        max-width:90% ;
        height: 150px;
    }

    .caixa1 h2, #im2 h2 {
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    .caixa1 p, #im2 p {
        font-size: 0.6rem; 
        line-height: 1.4; 
    }
}









.bloco_branco{
    height: 330px;
    width: 100%;
    background-color:rgb(102, 204, 199) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.re1{
    width: 210px;
    height: 260px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start; /* faz os itens ficarem no topo do container */
    align-items: center;  


    
}
#guitarrinha{
    width: 100%;
    height: 140px;
    border-radius: 10px ;
}
h3{
   color: black;
   font-size: 13px;
   text-align: center;
   font-weight: 300;
   
}
span{
    color: red;
}

/*Responsivdade */
@media (max-width: 768px){
     .bloco_branco {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gap: 15px; 
        padding: 15px;
        height: auto; 
        width: auto;
    }

    .re1 {
        width: auto; 
        height: 180px; 
    }

      .re1 img {
        width: 90%;       /* ocupa 90% da largura do container .re1 */
        height: auto;     /* mantém proporção da imagem */
    }

    .re1 h3 {
        font-size: 10px;  /* reduz um pouco o tamanho do texto */
        margin-top: 5px;  /* aproxima o texto da imagem */
    }

    .re1 span {
        font-size: 12px;  /* reduz o preço também */
    }
}





.bloco_laranja{
    height: 330px;
    width: 100%;
    background-color: rgb(128, 62, 15);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mapa{
    height: 280px;
    width: 620px;
    background-color: darkblue;
    border-radius: 10px;
}
.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}
.texto_lugar{
    height: 250px;
    width: 620px;
    background-color: rgba(240, 111, 83, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    gap: 50px; 
}
.titu2,.ti2{
    color: white;
    position: relative;
    margin: 0;
}
@media (max-width: 768px) {
    
    .bloco_laranja {
        flex-direction: column; 
        height: auto; 
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        
    }

    .mapa, .texto_lugar{
        width: 90%; 
        max-width: 90%;
        height: 150px; 
    }


    .titu2{
        font-size: 0.9rem; 
        line-height: 1.2; 
    }

    .ti2{
        font-size: 0.6rem; 
        line-height: 1.4; 
    }
}












.bloco_amarelo{
    height: 390px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caixa6, .caixa7{
    height: 280px;
    width: 620px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px; 
}
input{
    height: 30px;
    width: 80%;
    border-radius: 3px;
    border: 2px solid black;   /* contorno preto */
}
textarea{
    border: 2px solid black ;
    width:60% ;
    height: 200px;
}
button{
    width: 75%;
    height: 45px;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
}

.caixa7{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.titulo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: rgb(4, 4, 106);
    align-items: center;
    justify-content: center;
}
.acesse{
    font-size: 25px;
}
.simbolos{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.i7{
    width: 90px;
    height: 90px;
}
@media (max-width: 768px) {
    
    .bloco_amarelo {
        position: relative;
        display: flex;
        flex-direction: column; 
        height: auto; 
        gap: 5px;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        
    }

    .caixa6{
        width: 80%; 
        max-width: 80%;
        height: 150px; 
        gap: 10px;
    }

    .caixa7{
        width: 80%;
        height:60px;
        max-width: 80%;
    }

    label{
        font-size: 10px;
    }

       /* Ajustes de inputs, textarea e botão */
    input,button {
        width: 50%; /* ocupam toda largura disponível */
        font-size: 7px;
        height: 15px; /* para textarea e botão se adaptarem */
    }

    textarea {
        min-width: 20px ; /* altura mínima */
        max-width: 200px ;
        max-height: 20px;

        width: 60%;
        font-size: 8px;
    }

    button {
        height: 20px;
    }

    /* Ajustes de texto e imagens da caixa7 */
    .acesse {
        font-size: 10px ; /* reduz o tamanho do título */
        text-align: center;
    }

    .i7 {
        width: 30px ;
        height: 30px;
    }
}




footer {
    background-color: black;
    width: 100%;
    height: 280px;
    position: relative;
    flex-direction: column;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.elementos{
    width: 400px ;
    height: 150px ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text3{
    position: relative;
    display: flex;
    flex-direction: column; /* divs ficam empilhadas */
    align-items: center;
}
.social{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 30px;

}
.soci{
    width:40px;
    height:40px;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px; /* ajusta a altura conforme o conteúdo */
    }

    h4,p{
        font-size: 15px;
    }
    .soci{
        width: 20px;
        height: 20px;

    }
}
